* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.d-flex {
    margin-right: 2%;
}

.logo{
    width: 170px;
    img {
        width: 100%;
    }
}

nav {
    border-bottom: 1px inset black;
}


.letras {
    a{
        font-size: 18px;
    }
}

@media (max-width: 1200px){
    .letras{
        a{
            font-size: 14px;
        }
    }
}
 
@media (max-width: 760px){
    .logo{
        width: 120px;
        img {
            width: 100%;
        }
    }
}


:root 
.navbar-nav{
    --bs-nav-link-color: rgb(228, 15, 192);
}

/* Slider */

.carrusel {
    margin: auto;
    margin-top: 100px;
    width: 70%;
}

/* INFO Y SLOGAN */
.info {
    .slogan h1{
        font-size: 50px;
        text-align: center;
        margin-top: 70px;
        color: rgb(139, 78, 131);
    }
}


@media screen and (max-width: 1293px) {
    .info {
        .slogan {
            h1 {
                font-size: 40px;
            }
        }
    }
}

@media screen and (max-width: 1038px) {
    .info {
        .slogan {
            h1 {
                font-size: 25px;
            }
        }
    }
    .contacto {
        .grid {
            margin-bottom: 45px;
        } 
    }
}

@media screen and (max-width: 655px) {
    .info {
        .slogan {
            h1 {
                font-size: 20px;
            }
        }
    }
    .boton {
        width: 100%;
        padding-bottom: 30px;
        margin-top: 50px;
        input{
            width: 20%;
            height: 50px;
            background-color: rgb(135, 82, 167);
            color: #000000;
        }
        input:hover{
            width: 20%;
            height: 50px;
            background-color: rgb(213, 131, 224);
            color: #000000;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 528px) {
    .info {
        .slogan {
            h1 {
                font-size: 14px;
            }
        }
    }
}

.categorias{
    margin-top: 100px;
    padding-top: 2%;
    background-color: #cca9a9;
    margin-bottom: 100px;
    border-radius: 10px;
    h2 {
        font-size: 50px;
        margin-bottom: 30px;
        font-weight: 900;
        color: #40879c;
    }
    .imagen{
        background-color: #cca9a9;
        margin-bottom: 50px;
        img{
            width: 80%;
            border: solid black 2px;
            border-radius: 25px;
            padding: 2px;
        }
    }
}


.categorias {
    .boton {
        width: 20%;
        background-color: #cca9a9;
        margin: auto;
        a {
            text-decoration: none;
            font-size: 17px;
            color: #000000;
            background-color: rgb(248, 184, 177);
            border: 4px solid rgb(200, 100, 100);
            padding: 10px;
            border-radius: 20px;
        }
    }
    .boton:hover {
        width: 20%;
        background-color: #cca9a9;
        margin: auto;
        a {
            text-decoration: none;
            font-size: 17px;
            color: #F2B8C9;
            background-color: #5EA5BA;
            border: 4px solid rgb(200, 100, 100);
            padding: 10px;
            border-radius: 20px;
        }
    }
}

@media screen and (max-width: 500px) {
    .categorias {
        .boton {
            a {
                text-decoration: none;
                font-size: 13px;
                color: #000000;
                background-color: rgb(248, 184, 177);
                border: 4px solid rgb(200, 100, 100);
                padding: 10px;
            }
        }
        .boton:hover {
            width: 20%;
            background-color: #cca9a9;
            margin: auto;
            a {
                text-decoration: none;
                font-size: 13px;
                color: #F2B8C9;
                background-color: #5EA5BA;
                border: 4px solid rgb(200, 100, 100);
                padding: 10px;
                border-radius: 20px;
            }
        }
    }
    .info {
        .slogan {
            h2 {
                font-size: 17px;
            }
        }
    }
}

/* FOOTER */
.pie {
    background-color: rgb(226, 226, 226);
    border-top: 1px inset black;
}

.contacto{
    padding-top: 10px;
}

.paginas {
    display: grid;
    margin-top: 18px;
    a {
        text-decoration: none;
        color: #a011c4;
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 22px;
    }
    a:hover {
        text-decoration: none;
        color: #000000;
        font-size: 20px;
    }
}

.medios {
    margin-top: 18px;
    img {
        width: 32%;
        padding: 5px;
    }
}

.datos {
    margin-top: 18px;
    svg{
        width: 40%;
        height: 40%;
    }
    p {
        font-size: 20px;
    }
}

.col1 {
    .wts {
        height: 150px;
        margin-top: 18px;
    }
    .mail {
        height: 150px;
        margin-top: 18px;
    }
}



.col2 {
    .lugar {
        height: 150px;
        margin-top: 18px;
    }
    .insta {
        height: 150px;
        margin-top: 18px;
    }
}


@media screen and (max-width: 1475px) {
    .datos {
        margin-top: 30px;
        svg{
            width: 50%;
            height: 50%;
        }
        p {
            font-size: 15px;
        }
    }
    
    .col1 {
        .wts {
            height: 120px;
        }
        .mail {
            height: 120px;
        }
    }

    .col2{
        .insta {
            height: 120px;
        }
        .lugar {
            height: 120px;
        }
    } 

    .paginas {
        a {
            text-decoration: none;
            color: #a011c4;
            font-size: 15px;
            font-weight: 400;
            padding-bottom: 18px;
        }
        a:hover {
            text-decoration: none;
            color: #000000;
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 1120px) {
    .datos {
        margin-top: 20px;
        svg{
            width: 80%;
            height: 40%;
        }
        p {
            font-size: 11px;
        }
    }
    
    .paginas {
        a {
            text-decoration: none;
            color: #a011c4;
            font-size: 15px;
            font-weight: 400;
            padding-bottom: 13px;
        }
        a:hover {
            text-decoration: none;
            color: #000000;
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 766px) {
    .datos {
        margin-top: 20px;
        svg{
            width: 80%;
            height: 40%;
        }
        p {
            font-size: 16px;
        }
    }
    
    .paginas {
        a {
            text-decoration: none;
            color: #a011c4;
            font-size: 15px;
            font-weight: 400;
            padding-bottom: 13px;
        }
        a:hover {
            text-decoration: none;
            color: #000000;
            font-size: 12px;
        }
    }
}

/* Como Comprar */
.comoComprar {
    margin-top: 110px;
    color: #e4a4b7;
    h1{
        font-size: 40px;
        font-weight: 800;
        padding-left: 50px;
        color: #5EA5BA;
        text-decoration:underline;
    }
}

.ComoComprar-pasos {
    width: 100%;
    margin-top: 100px;
    ol{
        li {
            margin: 30px;
            font-size: 18px;
        }
    }
}

/* Contacto */
.contacto-container{
    margin-top: 120px;
}

.contacto-titulo {
    width: 50%;
    text-align: center;
    h1{
        font-size: 40px;
        font-weight: 800;
        color: blueviolet;
    }
}

.contacto-info {
    padding: 70px 0 70px 30px;
    p{
        padding: 15px;
        font-size: 25px;
        font-weight: 500;
        color: blueviolet;
    }
    h3{
        padding-bottom: 100px;
        font-size: 25px;
        color:black;
    }    
}

.whatsapp {
    .iconwts{
        width: 7%;
        height: 7%;
    }
}

.email {
    .iconmail{
        width: 7%;
        height: 7%;
    }
}

.instagram {
    .iconinsta{
        width: 7%;
        height: 7%;
    }
}

.localizacion {
    .iconlugar{
        width: 7%;
        height: 7%;
    }
}

.contacto-formulario{
    padding-top: 70px;
    text-align: center;
    h2{
        color:blueviolet;
    }
    .form-nombre {
        margin-bottom: 40px;
        input{
            width: 70%;
        }
    }
    .form-email {
        margin-bottom: 40px;
        input{
            width: 70%;
        }    
    }
    .form-cel {
        margin-bottom: 40px;
        input{
            width: 70%;
        }
    }
    .form-text {
        margin-bottom: 40px;
        textarea{
            width: 70%;
        }
    }
}

/* MIXIN */

@mixin enviar {
    width: 100%;
    padding-bottom: 30px;
    margin-top: 50px;
}


.btn--enviar {
    @include enviar;
    input{
        width: 20%;
        height: 40px;
        background-color: rgb(135, 82, 167);
        color: #000000;
        font-weight: 800;
        font-size: 13px;
    }
    input:hover{
        width: 20%;
        height: 40px;
        background-color: rgb(213, 131, 224);
        color: #000000;
        cursor: pointer;
    }
}

/* TIENDA */
.tiendaa {
    margin-top: 70px;
    padding-top: 2%;
    background-color: #fff;
    h2{
        font-size: 35px;
        text-align: center;
        margin-top: 17px;
        color: #5EA5BA;
        font-weight: 1000;
    }
}

.tienda-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    .tienda-joya {
        width: 350px;
        height: 500px;
        background-color: #B8D2E6;
        margin: auto;
        margin-bottom: 50px;
        border-radius: 50px;
        .tienda-foto {
            width: 90%;
            height: 64%;
            margin: 20px auto;
            img{
                width: 100%;
                height: 100%;
                border-radius: 25px;
            }
        }
    }
}

.tienda-precio {
    width: 80%;
    height: 22%;
    margin: auto;
    text-align: center;
    p {
        margin-top: 20px;
    }
    input{
        background-color: #ffffff;
        color: rgb(147 111 75);
        padding: 3px;
        border-radius: 50px;
        cursor: pointer;
    }
    input:hover{
        background-color: rgb(243, 180, 243);
        color: #ffffff;
        padding: 3px;
        border-radius: 50px;
        cursor: pointer;
    }
}

/* medir anillo */
.medicion-container {
    .medicion-titulo {
        margin-top: 120px;
        text-align: center;
        h1{
            font-size: 60px;
            color: blueviolet;
        }
        p{
            width: 60%;
            margin: 40PX auto;
            font-size: 20px;
        }
    }
}

.medicion-pasos {
    width: 60%;
    padding: 10px;
    margin: auto;
    background-color: rgb(255, 244, 231);
    h2 {
        margin-bottom: 10px;
        color: blueviolet;
    }
    p{
        margin-bottom: 30px;
    }
}

.paso3 a {
    color: #000000;
}

.medicion-imagen {
    width: 62%;
    margin: 80px auto;
    background-color: #fff;
    img {
        margin: auto;
        width: 100%;
    }
}

